@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Add a new member to our family!</h2>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  
  @Html.LabelFor(model => model.Type)
  @Html.TextBoxFor(model => model.Type)
  
  @Html.LabelFor(model => model.Breed)
  @Html.TextBoxFor(model => model.Breed)
  
  @Html.LabelFor(model => model.Age)
  @Html.TextBoxFor(model => model.Age)
  
  @Html.LabelFor(model => model.Gender)
  @Html.TextBoxFor(model => model.Gender)

  @Html.LabelFor(model => model.Date)
  @* @Html.TextBoxFor(model => model.Date) *@
  @Html.TextBoxFor(model => model.Date, "{0:d MMM yyyy}", new { type = "date" })

  @* ViewBag.ShelterId = new SelectList(_db.Shelters, "ShelterId", "Name"); *@
  @Html.LabelFor(model => model.Shelter)
  @Html.DropDownList("ShelterId") //User sees a dropdown of names, id connected with whatever name they select is set as the ShelterId of the new animal. 
  @* <select>
    @foreach(Shelter shelter in _db.Shelters.ToList())
    {
      <option value="@shelter.ShelterId">@shelter.Name</option>
    }
  </select> *@
  <input type="submit" value="Add"/>
}

<p>@Html.ActionLink("Show all animals", "Index")</p>